$max-width:  	800px;

$blue: 				#4DA0FF;
$dk_blue:			#356EB0;

$gray: 				#666;
$vl_gray:  		#f5f5f5;
$l_gray:   		#ccc;

$yellow: 			#FFC847;
$dk_yellow: 	#FFAE47;

$green: 			#21B82B;
$dk_green:		#15731B;
$l_green:			#75D67B;

$red: 				#E0492D;
$dk_red:			#A63621;
$l_red:				#DE6A55;

a,p, h1, h2, h3, h4, input, label, .table-header, td {
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 1rem;
}

a {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	color: $blue;
	&:hover { color: $dk_blue; }
}

input {
	padding: 0;
	margin: 0 5px;
	outline: none;
	border: none;
}
input[type="text"] {
	height: 40px;
	width: 150px;
	color: $gray;
	padding: 0 15px;
	border: 1px solid $l_gray;
	@include border-radius(3px);
}

input[type="submit"], a {
	cursor: pointer;
	line-height: 16px;
}


.container {
	max-width: $max-width;
	margin: 40px auto;
}

.btn {
	text-decoration: none;
	margin: 0 5px 0 0;		
	@include border-radius(3px);
	padding: 10px 20px;
	background: white;
}

.btn-small-red {
	color: $l_gray;
	border: 1px solid $l_gray;
	padding: 2px 5px;
	font-size: 0.7rem;

	&:hover {
		@include transition(all, 0.2s);
		color: white;
		background: $red;
		border: 1px solid $red;
	}
}

.btn-yellow {
	color: $yellow;
	border: 3px solid $yellow;
	&:hover {
		@include transition(all, 0.2s);
		color: white;
		background: $yellow;
		border: 3px solid $yellow;
	}
}

.btn-blue {
	color: $blue;
	border: 3px solid $blue;

	&:hover {
		@include transition(all, 0.2s);
		color: white;
		background: $blue;
		border: 3px solid $blue;
	}
}

.btn-red {
	color: $red;
	border: 3px solid $red;

	&:hover {
		@include transition(all, 0.2s);
		color: white;
		background: $red;
		border: 3px solid $red;
	}
}


h1 {
	font-size: 2rem;
	margin-bottom: 30px;
	color : #aaa;
	font-weight: bold;
}
h2 {font-size: 1.7rem}
h3 {font-size: 1.5rem}
h4 {font-size: 1.2rem}

img {
	height: 90px;
	width: 60px;
}

.movie-photo img {
	width: 	120px;
	height: 180px;
	float: left;
	margin-right: 40px;
}


.table-header {
	background: 1px solid $dk_blue;
	th {
		background: $blue;
		color: white;
		width: 200px;
		padding: 15px 20px;
		border-right: 1px solid white;
		font-family: Helvetica, Arial, sans-serif;
	}

}

.film-row {
	border: 1px solid $l_gray;
	&:nth-child(even) {
		background: $vl_gray;
	}

	td {
		padding: 10px 20px;
	}
}

.movie-wrapper {
	h3 {
		margin-bottom: 10px;
	}

	p {
		color: #888;
	}

	margin: 20px 0 40px 0;
}

.search-bar {
	@include pie-clearfix;
	margin-bottom: 20px;

	.search {
		float: left;
		margin: 0;
	}

	.add-new-film {
		float: left;
	}
} // search-bar

.film-form {
	margin-bottom: 20px;

	.fields { 
		display: block;
		margin-bottom: 10px;
		width: 300px;
		height: 45px;

		label {
			float: left;
			line-height: 45px;
		}

		input {
			float: right;
		}
	}
}

.messages {
	padding: 10px 20px;
	@include border-radius(3px);
	background: $vl_gray;
	border: 1px solid $red;

	h4 {
		margin: 5px 0;
		color: $red;
	}
}

.alert {
	margin: 20px 0;
	padding: 10px 20px;
	@include border-radius(3px);
	background: $vl_gray;
}

.alert-notice {
	color: $green;
	border: 1px solid $green;
}

.alert-alert {
	color: $red;
}

